In [1]:
import configparser
import psycopg2

import pandas as pd

In [2]:
import sys 
sys.path.append("../src/")

In [3]:
%load_ext autoreload

%autoreload 2

In [4]:
from etl import drop_tables, create_tables, load_staging_tables, insert_tables

In [7]:
CONFIG_FILE = "../config.cfg"

def main(config_file=CONFIG_FILE):
    config = configparser.ConfigParser()
    config.read(config_file)

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()

    drop_tables(cur, conn)
    create_tables(cur, conn)
    load_staging_tables(cur, conn) 
    
    conn.close()

In [8]:
main()

DROP TABLE IF EXISTS staging_status_cp
DROP TABLE IF EXISTS staging_status_connectors
DROP TABLE IF EXISTS staging_charging_stations
DROP TABLE IF EXISTS staging_charging_points
DROP TABLE IF EXISTS staging_connectors
DROP TABLE IF EXISTS status_chargingpoints
DROP TABLE IF EXISTS status_connectors
DROP TABLE IF EXISTS charging_station
DROP TABLE IF EXISTS charging_point
DROP TABLE IF EXISTS connector
DROP TABLE IF EXISTS time

                                CREATE TABLE IF NOT EXISTS staging_charging_points
                                (
                                 id_cs                      INTEGER NOT NULL,
                                 charging_station_position  TEXT,
                                 roaming                    BOOLEAN,
                                 physical_reference         TEXT,
                                 cp_parking_space_numbers   TEXT,
                                 cp_position                TEXT,
                                 cp_public_comment          TEXT,
                                 id                         TEXT,
                                 vehicle_type               TEXT,
                                 floor_level                TEXT,
                                 uid                        INTEGER NOT NULL
                                )


                             CREATE TABLE IF NOT EXISTS staging_status_connectors
                             (
                              id_connector              VARCHAR       NOT NULL,
                              status_connector          TEXT          NOT NULL,
                              ts                        TIMESTAMPTZ   NOT NULL
                             )


                             CREATE TABLE IF NOT EXISTS staging_status_cp
                             (
                              id_cp                      VARCHAR       NOT NULL,
                              status_cp                  TEXT          NOT NULL,
                              --parkingsensor_status     TEXT,
                              ts                         TIMESTAMPTZ   NOT NULL
                             )


                                CREATE TABLE IF NOT EXISTS staging_charging_stations
                                (
                                 id                      INTEGER,
                                 name                    TEXT,
                                 address                 TEXT,
                                 city                    TEXT,
                                 postal_code             TEXT,
                                 country                 TEXT,
                                 distance_in_m           FLOAT,
                                 owner                   TEXT,
                                 roaming                 BOOLEAN,
                                 latitude                FLOAT,
                                 longitude               FLOAT,
                                 operator_name           TEXT,
                                 operator_hotline        TEXT,
                                 open_24_7               BOOLEAN
                                 )


                                CREATE TABLE IF NOT EXISTS staging_charging_points
                                (
                                 id_cs                      INTEGER NOT NULL,
                                 charging_station_position  TEXT,
                                 roaming                    BOOLEAN,
                                 physical_reference         TEXT,
                                 cp_parking_space_numbers   TEXT,
                                 cp_position                TEXT,
                                 cp_public_comment          TEXT,
                                 id                         TEXT,
                                 vehicle_type               TEXT,
                                 floor_level                TEXT,
                                 uid                        INTEGER NOT NULL
                                )


                                CREATE TABLE IF NOT EXISTS staging_connectors
                                (
                                 id_cp          TEXT NOT NULL,
                                 format         TEXT,
                                 power_type     TEXT,
                                 id             TEXT,
                                 tariff_id      TEXT,
                                 ampere         INTEGER,
                                 max_power      INTEGER,
                                 voltage        INTEGER,
                                 standard       TEXT
                                )

CREATE TABLE IF NOT EXISTS status_chargingpoints
                                        (
                                         id_status_cp               VARCHAR NOT NULL,
                                         id_chargingpoint           VARCHAR NOT NULL,
                                         query_time                 TIMESTAMPTZ NOT NULL,
                                         status_cp                  VARCHAR,
                                         status_parkingsensor       VARCHAR
                                        )

CREATE TABLE IF NOT EXISTS status_chargingpoints
                                    (
                                     id_status_connector                VARCHAR NOT NULL,
                                     id_connector                       VARCHAR NOT NULL,
                                     query_time                         TIMESTAMPTZ NOT NULL,
                                     status_connector                   VARCHAR
                                    )


                                CREATE TABLE IF NOT EXISTS charging_stations
                                (
                                 id_cs                      INTEGER,
                                 name                       TEXT,
                                 address                    TEXT,
                                 city                       TEXT,
                                 postal_code                TEXT,
                                 country                    TEXT,
                                 distance_in_m              FLOAT,
                                 owner                      TEXT,
                                 roaming                    BOOLEAN,
                                 latitude                   FLOAT,
                                 longitude                  FLOAT,
                                 operator_name              TEXT,
                                 operator_hotline           TEXT,
                                 open_24_7                  BOOLEAN,
                                 CONSTRAINT charging_station_pkey PRIMARY KEY (id_cs)
                                 )


                                CREATE TABLE IF NOT EXISTS charging_point
                                (
                                 id_cp                          TEXT,
                                 id_cs                          INTEGER NOT NULL,
                                 charging_station_position      TEXT,
                                 roaming                        BOOLEAN,
                                 physical_reference             TEXT,
                                 cp_parking_space_numbers       TEXT,
                                 cp_position                    TEXT,
                                 cp_public_comment              TEXT,
                                 vehicle_type                   TEXT,
                                 floor_level                    TEXT,
                                 CONSTRAINT charging_point_pkey PRIMARY KEY (id_cp)
                                )


                         CREATE TABLE IF NOT EXISTS staging_connectors
                        (
                         id_connector               TEXT,
                         id_cp                      TEXT NOT NULL,
                         format                     TEXT,
                         power_type                 TEXT,
                         tariff_id                  TEXT,
                         ampere                     INTEGER,
                         max_power                  INTEGER,
                         voltage                    INTEGER,
                         standard                   TEXT,
                         CONSTRAINT connector_pkey PRIMARY KEY (id_connector)
                        )

CREATE TABLE IF NOT EXISTS "time" (
                        query_time                  timestamptz NOT NULL,
                        "hour"                      int4,
	                    "day"                       int4,
	                    week                        int4,
	                    "month"                     varchar(256),
	                    "year"                      int4,
	                    weekday                     varchar(256),
	                    CONSTRAINT time_pkey PRIMARY KEY (query_time)
                     )

COPY staging_status_cp
                                               FROM 's3://capstone-udacity-chargingdata/charging-data/charging-points'
                                               CREDENTIALS 'aws_iam_role=arn:aws:iam::853996135898:role/sparkifyRedshiftRole'
                                               REGION 'us-east-2'
                                               DELIMITER ';' IGNOREHEADER 1;
;

COPY staging_status_connectors
                                             FROM 's3://capstone-udacity-chargingdata/charging-data/connectors'
                                             CREDENTIALS 'aws_iam_role=arn:aws:iam::853996135898:role/sparkifyRedshiftRole'
                                             REGION 'us-east-2'
                                             DELIMITER ';' IGNOREHEADER 1;

COPY staging_charging_stations
                                          FROM 's3://capstone-udacity-chargingdata/master-data/charging_stations.csv'
                                          CREDENTIALS 'aws_iam_role=arn:aws:iam::853996135898:role/sparkifyRedshiftRole'
                                          REGION 'us-east-2'
                                          DELIMITER ';' IGNOREHEADER 1
                                          EMPTYASNULL;

COPY staging_charging_points
                                        FROM 's3://capstone-udacity-chargingdata/master-data/charging_points.csv'
                                        CREDENTIALS 'aws_iam_role=arn:aws:iam::853996135898:role/sparkifyRedshiftRole'
                                        REGION 'us-east-2'
                                        DELIMITER ';' IGNOREHEADER 1
                                        EMPTYASNULL

COPY staging_connectors FROM 's3://capstone-udacity-chargingdata/master-data/connectors.csv'
                                   CREDENTIALS 'aws_iam_role=arn:aws:iam::853996135898:role/sparkifyRedshiftRole'
                                   REGION 'us-east-2'
                                   DELIMITER ';' IGNOREHEADER 1;

In [9]:
config = configparser.ConfigParser()
config.read(CONFIG_FILE)
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))

In [ ]:
df_

In [8]:
df_err = pd.read_sql(con=conn, sql="select * from stl_load_errors")

In [9]:
df_err.sort_values(by="starttime", ascending=False).iloc[0]

userid                                                           100
slice                                                              1
tbl                                                           110329
starttime                                 2021-12-29 17:08:11.094631
session                                                        28457
query                                                           2667
filename           s3://capstone-udacity-chargingdata/master-data...
line_number                                                        2
colname            ampere                                        ...
type                                                      int4
col_length                                                0
position                                                          18
raw_line           DE*REK*E00025*001;SOCKET;AC_3_PHASE;447;;32;AV...
raw_field_value    SOCKET                                        ...
err_code                                                        1207
err_reason         Invalid digit, Value 'S', Pos 0, Type: Integer...
is_partial                                                         0
start_offset                                                       0
Name: 20, dtype: object

pd.read_json("s3://capstone-udacity-chargingdata/master-data/charging_stations.json")

In [10]:
pd.read_sql(con=conn, sql="select * from staging_charging_stations ")

,id,name,address,city,postal_code,country,distance_in_m,owner,roaming,latitude,longitude,operator_name,operator_hotline,open_24_7
0,2,TankE - ADAC Köln Kalk,Erna-Scheffler-Straße 5,Köln,50679,DE,0.0,None,False,50.940991,6.992267,RheinEnergie AG,+4922134645600,False
1,3,TankE - Agrippabad,Agrippastraße 45,Köln,50676,DE,0.0,KölnBäder GmbH,False,50.933123,6.952300,RheinEnergie AG,+4922134645600,True
2,7,TankE - Auto Laukat,Siegburgerstraße 232-238,Köln,51105,DE,0.0,None,False,50.920410,6.984919,RheinEnergie AG,+4922134645600,True
3,13,TankE - AXA,Colonia-Allee 10-20,Köln,51067,DE,0.0,None,False,50.963563,7.051716,RheinEnergie AG,+4922134645600,True
4,20,TankE - Bornheim,Rathausstraße 2,Bornheim,53332,DE,0.0,None,False,50.757272,7.004436,RheinEnergie AG,+4922134645600,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,385146,Lichtenfels - Gelände Stadtwerke Lichtenfels,Eichenweg 15,Lichtenfels,96215,DE,0.0,None,False,50.146536,11.085516,Stadtwerke Lichtenfels,+498002340001,True
1156,385148,Lichtenfels - Kronacher Straße,Kronacher Straße 30,Lichtenfels,96215,DE,0.0,None,False,50.148157,11.072478,Stadtwerke Lichtenfels,+498002340001,True
1157,385154,Lichtenfels - Parkhaus oberes Tor,Pabstenweg 9,Lichtenfels,96215,DE,0.0,None,False,50.148065,11.065366,Stadtwerke Lichtenfels,+498002340001,True
1158,385156,Lichtenfels - Parkhaus unteres Tor,Am Stadtgraben 9,Lichtenfels,96215,DE,0.0,None,False,50.144904,11.063421,Stadtwerke Lichtenfels,+498002340001,True
1159,424272,Lichtenfels Parkplatz Rathaus 2,Am Marktplatz 5,Lichtenfels,96215,DE,0.0,None,False,50.146382,11.062725,Stadtwerke Lichtenfels,+498002340001,True

df_status_cp = pd.read_csv("../data/status_cp_sample.csv", sep=";")

df_status_cp.timestamp.iloc[0]

(df_status_cp.timestamp == '').any()

df_status_cp.drop(columns=["Unnamed: 0"]).to_csv("../data/status_conn_sample.csv", index=False, sep=";")

s3://capstone-udacity-chargingdata/charging-data/